.boton-amarillo{
    @include boton($amarillo, inline-block);
}
.boton-amarillo-block{
    @include boton($amarillo, block);
    margin: 2rem;
}

.boton-verde{
    @include boton($verde, inline-block);
}
.boton-verde-block{
    @include boton($verde, block);
    margin: 2rem;
}

.boton-rojo-block{
    @include boton($rojo, block);
    margin: 2rem;
}