.dark-mode{
    background-color: darken($grisOscuro, 10); 

    .navegacion-principal-productos{
        color: $gris;
    }

    p{
        color: $blanco;
    }

    a, h1, h2, h3, h4, blockquote{
        color: $gris;
    }
    .anuncio,
    .resumen-propiedad{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

    }
    .precio{
        color: $verde;
    }
}

.content{
    margin: 0rem 3rem 0 3rem;
}