@include tablet{
    .contenedor-anuncios{
        @include grid(3, 3rem) //3 columnas con separacionn de 2 rem que es igual a 20px
    }
    .contenedor-exercicios{
        @include grid(5, 2rem) //3 columnas con separacionn de 2 rem que es igual a 20px
    }
}

.anuncio{
    background-color: lighten($gris, 5);
    border: 0.5px solid lighten($grisOscuro, 10);
    margin-bottom: 4rem;

    //---- EFECTOS PRODUCTOS QUIE YO COLOQUE
    //border-radius: $separacion; 
    //display: inline-flex;
    display: inline-block;
    overflow: hidden;
    //---- EFECTOS PRODUCTOS QUE YO COLOQUE

    .imgProductos{
        max-width: auto;
        max-height: 30rem;
    }
    .imgEjercicios{
        max-width: auto;
        max-height: 20rem;
    }

    .contenido-anuncio{
        padding: 1.8rem;
    }

    h3, p{
        margin: 0;
    }

}

.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;

    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 5rem;
            margin-right: 1rem;
        }
        p{
            font-weight: $black;
            
        }
    }
}

/* efecto sopre los precios  */
.tabla-precio:hover {
    transform: scale(0.9);
    border: 1px solid #fe4918;
    box-shadow: 0px 0px 50px #666;
}

/* efecto sopre los precios  */