.no-webp .inicio{
    height: auto;
    width: auto;
    background-image: url(../../../build/img/incognito-man-building-biceps-with-barbell.png);
}
.webp .inicio{
    background-image: url(../../../build/img/incognito-man-building-biceps-with-barbell.webp);
}

//h1 multiples nombres de la pagina index 
.wrapper h1{
    //padding: 0;
    //margin: 0;  
    color: $blanco;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 4.5rem;
    font-family: poppins;
}
.wrapper-h1-span:before{
    content: '';
    animation: animate infinite 15s;
}
@keyframes animate{
    0%{
        font-size: 4.5rem;
        content: ' Extreme Gym Fit';
    }
    20%{
        font-size: 4.5rem;
        content: 'Melhor Gym que nos NAO Existe'; 
    }
    40%{
        font-size: 4.5rem;
        content: 'Treine so por 0,65€ ao dia';
    }
    60%{
        font-size: 4.5rem;
        content: 'Plano de Treino e Avaliacoes Fisicas Incluidas';
    }
    80%{
        font-size: 3.5rem;
        content: 'Abertos de Segunda-feira a Sabado das 8:00 as 22:30';
    }
    100%{
        font-size: 4.5rem;
        content: 'Venha Ja Nao se vai Arrepenter';
    }
}


.imagen-gym{
    width: 130px;
    height: 100px;
}

.header{
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;

    &.inicio{

        background-position: center center;
        background-size: cover;
        
        @include tablet{
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}