.no-webp .inicio{
    height: auto;
    width: auto;
    background-image: url(../../../build/img/incognito-man-building-biceps-with-barbell.png);
    background-image: url(../../../build/img/logojosuewhatssap.png);

}
.webp .inicio{
    height: auto;
    width: auto;
    background-image: url(../../../build/img/incognito-man-building-biceps-with-barbell.webp);
    background-image: url(../../../build/img/logojosuewhatssap.webp);
}

//h1 multiples nombres de la pagina index 
.wrapper h1{
    //padding: 0;
    //margin: 0;  
    color: $blanco;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 4.5rem;
    font-family: poppins;
}
.wrapper-h1-span:before{
    content: '';
    animation: animate infinite 18s;
}
@keyframes animate{
    0%{
        font-size: 4.5rem;
        content: ' Fit';
    }
    20%{
        font-size: 4.5rem;
        content: 'Melhor Gym que nos NAO Existe'; 
    }
    40%{
        font-size: 4.5rem;
        content: 'Treine so por 0,65€ ao dia';
    }
    60%{
        font-size: 4.5rem;
        content: 'Plano de Treino e Avaliacoes Fisicas Incluidas';
    }
    80%{
        font-size: 4.5rem;
        content: 'Venha Ja Nao se vai Arrepenter';
    }
    100%{
        font-size: 3.5rem;
        content: 'Abertos de Segunda-feira a Sabado das 8:00 as 22:30';
    }
}


.imagen-gym{
    width: 150px;
    height: 120px;
}

.header{
    background-color: $negro;
    padding: 2rem 0 1rem 0;

    &.inicio{

        background-position: center center;
        background-size: cover;
        
        @include tablet{
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
        margin-top: 60rem
    }
}

.navegacion-principal-productos {

    @include tablet {
        display: flex;
        gap: 1.5rem;
    }

    a {
        display: block;
        text-align: center;
        color: $grisOscuro;
        font-size: 1.6rem;
        padding: 1rem 0 3rem 0;
        border-radius: 3rem;
        @include tablet {
            margin: 0;
        }

        &:hover {
            color: $gris;
        }
    }
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

@include tablet {
    .navegacion-principal-productos{
        @include grid(5, 2rem) //3 columnas con separacionn de 2 rem que es igual a 20px
    }
}