@include telefono{
    .iconos-7dias{
        @include grid(2, 2rem); // 4 iconos con 20 px de tamaño
    }
    @include tablet{
        .iconos-nosotros{
            @include grid(4, 2rem); // 4 iconos con 20 px de tamaño
        }
        .iconos-7dias{
            @include grid(4, 2rem); // 4 iconos con 20 px de tamaño
        }
    }
}

.icono_dias{
    border-radius: $separacion;
    background-color: hsla(0, 0%, 43%, 0.12);
    p{
        text-align: right ;
        border-radius: $separacion;
        max-width: 20rem;
        margin: 0rem 0rem 0rem 4rem;
    }

    
    h3{
        text-size-adjust: 1rem;
        text-transform: uppercase;
        margin: 5px;
        line-height: 1.4;

        &::after{
            content: '';
            display: block;
            height: .2rem;
            width: auto;
            background-color: red;
            margin-top: 1rem;
        }
    }
}

.icono{
    //---- ESTILOS COLOCAR ICONOS ESTILOS MIOS
    border-radius: 6rem 6rem 2rem 3rem;
    background-color: hsla(0, 0%, 43%, 0.12);
    //---- ESTILOS COLOCAR ICONOS ESTILOS MIOS

    img{
        height: 10rem;

    }
    h3{
        text-transform: uppercase;
    }
    p{
        text-align: center;
    }
}