.contenido-nosotros{

    @include tablet{
        @include grid(2, 2rem);
    } 
    .imagen{
        height: 460px;
        width: 500px;
    }
    .imagen2{
        height: auto;
        width: 400px;
    }
    .QuienSomos{
        font-size: 2.5rem;
        padding: 1rem;
        font-family: poppins;
    }

    //---- DIMENSIONES DEL MAPA BORDER Y FONDO
    .mapa {
        height: 420px;
        //width: 650px;
        //border-radius: $separacion;
        //background-color: green;
    }

    //---- DIMENSIONES DEL MAPA BORDER Y FONDO--

}
.contenido-nosotros-resultados{

    @include tablet{
        @include grid(3, 2rem);
    } 
}

.texto-nosotros blockquote{

    font-weight: $black;
    font-size: 4.2rem;
    margin: 2rem;
    padding-left: 1rem 0 3rem 0; 
    text-align: center;
    font-family: poppins;
}

.texto-resultados blockquote{
    font-weight: $black;
    font-size: 4.2rem;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-family: poppins;
}


// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-size: 'Popping', sans-serif;
// }
// .section-scrolling{
//     position: relative;
//     width: 95%;
//     overflow: hidden;
//     background-color: #111;
// }

// .texto-scrolling{
//     position: relative;
//     //transform: skewY(345deg) translateY(-200px);
//     animation: animateColor 5s linear infinite;
// }
// @keyframes animateColor{
//     0%{
//         filter: hue-rotate(0deg);
//     }
//     100%{
//         filter: hue-rotate(360deg);
//     }
// }

// .texto-scrolling h2{
//     position: relative;
//     widows: 100%;
//     font-size: 2.5em;
//     color: $blanco;
//     pointer-events: none;
//     line-height: 1rem;
//     white-space: nowrap;
//     text-shadow: calc(var(--x)) 100px 0 rgba(255,255,255,0.1);
//     transform: translateX(calc(0% - var(--x) * var(--i)));
// }

// .texto-scrolling h2 span{
//     color: #0f0;
//     margin: 0 10px;
// }

// .texto-scrolling h2 span:nth-child(even){
//     color: transparent;
//     -webkit-text-stroke: 2px #fff;
// }